on: ["push", "pull_request"]

name: Test Coveralls

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v4

    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version: lts/*

    - name: Install backend dependencies
      run: |
        cd server
        npm ci
    - name: Build backend
      run: |
        cd server
        npm run build
    - name: Run Unit tests (server)
      run: |
        cd server
        npm run coverage

    - name: Coveralls
      uses: coverallsapp/github-action@v2
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}